---
import BaseLayout from "../layouts/BaseLayout.astro";
import { dummyPosts } from "../lib/dummyPosts";

---

<BaseLayout title="frog-blog">
	<h1>記事一覧</h1>
	<ul>
		{
			dummyPosts.map((post) => (
				<li>
					<article>
						<h2>
							<a href={`/posts/${post.slug}`}>{post.title}</a>
						</h2>
						<p>{post.excerpt}</p>
					</article>
				</li>
			))
		}
	</ul>
</BaseLayout>
